<section class="reviews" id="reviews">
  <div class="container">
    <h2 data-aos="fade-right" class="title title-1 reviews__title">
      Отзывы тех, кто раскрыл свой потенциал вместе с нами
    </h2>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
        <a href="@img/reviews.jpg" data-fancybox="reviews" class="swiper-slide reviews__slide">
          <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        </a>
      </div>
    </div>
    <div class="reviews__slider-pagination"></div>
  </div>
</section>
