<div class="ticker">
  <div class="ticker__wrapper">
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
    <span class="ticker__item">@metlitsky_content</span>
  </div>
</div>